.navbar-bg {
  background: linear-gradient(
    156deg,
    rgb(226, 62, 87) 0%,
    rgb(49, 29, 63) 100%
  );
}
.btn-custom {
  background: rgb(226, 62, 87);
  width: 150px;
  border-radius: 25px;
  height: 40px;
  color: white;
  border: solid rgb(226, 62, 87);
}
.btn-custom:hover {
  color: rgb(226, 62, 87);
  background: rgb(136, 48, 78);
}
.game-informer-dark {
  position: relative;
  top: 6px;
  text-shadow: 0 0 10px #FFFFFF;
  color: #FFFFFF;
}
.game-informer-light {
  position: relative;
  top: 6px;
  text-shadow: 0 0 10px #ffffff;
  color: #000000;
}
.navbar-light{
  text-shadow: 0 0 10px #000000;
}
