.navbar-bg {
  background: linear-gradient(
    156deg,
    rgb(226, 62, 87) 0%,
    rgb(49, 29, 63) 100%
  );
}
.user-false {
  background: rgb(226, 62, 87);
  height: 40px;
  /* border-radius: 40px; */
  color: white;
  border: solid rgb(226, 62, 87);
  width: 100px;
  border-radius: 40px ; 
}
.user-true-left{
  background: rgb(226, 62, 87);
  height: 40px;
  /* border-radius: 40px; */
  color: white;
  border: solid rgb(226, 62, 87);
  width: 70px;
  border-radius: 40px 0px 0px 40px;
  
}
.user-true-right{
  background: rgb(226, 62, 87);
  height: 40px;
  /* border-radius: 40px; */
  color: white;
  border: solid rgb(226, 62, 87);
  width: 70px;
  border-radius: 0px 40px 40px 0px;
}
.user-false:hover {
  color: rgb(226, 62, 87);
  background: rgb(136, 48, 78);
}
.user-true-right:hover {
  color: rgb(226, 62, 87);
  background: rgb(136, 48, 78);
}
.user-true-left:hover {
  color: rgb(226, 62, 87);
  background: rgb(136, 48, 78);
}
.game-informer-dark {
  position: relative;
  top: 6px;
  text-shadow: 0 0 10px #000000;
  color: #ffffff;
}
.game-informer-light {
  position: relative;
  top: 6px;
  text-shadow: 0 0 10px #ffffff;
  color: #000000;
}
.navbar-light {
  text-shadow: 0 0 10px #ffffff;
}
.navbar-dark {
  text-shadow: 0 0 10px #000000;
}
.swal2-popup.dark {
  background:#202124 ;
  color: white;
  -webkit-box-shadow: 5px 5px 15px 5px #ff8080, -9px 5px 15px 5px #ffe488,
    -7px -5px 15px 5px #8cff85, 12px -5px 15px 5px #80c7ff,
    12px 10px 15px 7px #e488ff, -10px 10px 15px 7px #ff616b,
    -10px -7px 27px 1px #8e5cff, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 5px 5px 15px 5px #ff8080, -9px 5px 15px 5px #ffe488,
    -7px -5px 15px 5px #8cff85, 12px -5px 15px 5px #80c7ff,
    12px 10px 15px 7px #e488ff, -10px 10px 15px 7px #ff616b,
    -10px -7px 27px 1px #8e5cff, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}
.swal-dark-confirm-btn:hover {
  background: lightcoral;
}
