.item-Grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
}
.card-img-top{
    height:200px;
    width: 100%;
}
.card{
    padding: 1rem;
    margin-top: 1rem;
    background:linear-gradient(grey ,black);
}
.heartInactive{
    color: black;
    opacity: 0.3;
    cursor: pointer;
    width: 30px;
    height: 30px;    
}
.heartActive{
    fill: red;
    color: red;
    width: 30px;
    height: 30px; 
}
@keyframes heartbeat{
    0%{
        transfom: scale(1);
    }
    50%{
        transform:scale(1.25);        
    }
    100%{
        transform:scale(1);
    }
}
.heartInactive:hover{
    animation: heartbeat 1s infinite;
    fill: red;
    color: red;
    opacity: 1;
    transition: opacity 500ms;
}
@media (max-width: 1399px) { 
    .card{
        width: 250px !important;
    }
    .buttonWidthChanger{
        width: 155px !important;
    }
    .card-img-top{
        height:45%;
    }
 }
 @media (max-width: 1199px) { 
    .card{
        width: 190px !important;
    }
    .buttonWidthChanger{
        width: 125px !important;
    }
 }
 @media (max-width: 1011px) { 
    .card{
        width: 250px !important;
    }
    .item-Grid{
        grid-template-columns: repeat(2,1fr);
    }
    .buttonWidthChanger{
        width: 190px !important;
    }
 }
 @media (max-width: 767px) { 
   
    .card{
        width: 200px !important;
    }
    .buttonWidthChanger{
        width: 135px !important;
    }
 }
 @media (max-width: 580px) { 
   
    .card{
        width: 250px !important;
    }
    .item-Grid{
        grid-template-columns: repeat(1,1fr);
    }
    .buttonWidthChanger{
        width: 180px !important;
    }
 }
