.item-Grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
}
.card-img-top{
    height:50%;
    width: 100%;
}
.card{
    padding: 1rem;
    margin-top: 1rem;
}
@media (max-width: 1399px) { 
    .card{
        width: 250px !important;
    }
    .card-img-top{
        height:45%;
    }
 }
 @media (max-width: 1199px) { 
    .card{
        width: 190px !important;
    }
 }
 @media (max-width: 991px) { 
    .card{
        width: 250px !important;
    }
    .item-Grid{
        grid-template-columns: repeat(2,1fr);
    }
 }
 @media (max-width: 767px) { 
   
    .card{
        width: 250px !important;
    }
 }
 @media (max-width: 541px) { 
   
    .card{
        width: 250px !important;
    }
    .item-Grid{
        grid-template-columns: repeat(1,1fr);
    }
 }
