.darkTheme{
    color: black;
}
.lightTheme{
    color: white;
}


.dropdown-custom {
    background: none;
    border:none;
    color:gray;
}   
.appWrapper{
 min-height: 100vh;
    background: grey;
}