.darkTheme{
    color: white;
    background: #202124;
}
.lightTheme{
    color: black;
}
.hoverWrapper:focus{
    color:(222, 107, 107);
}
ul{
    text-decoration: none;
    list-style: none
}

 
.appWrapper{
 min-height: 100vh;
    
}  
a{
    color: white;
    text-decoration: none; 
}
.custom-dropdown{
    background: inherit;
    border:solid 0px;
    text-shadow: 0 0 10px rgb(252, 252, 252);
}
.custom-dropdown:hover{
    background: inherit;
    color: rgb(255, 30, 30);

}
.custom-dropdown:enabled{
    background: inherit;
}
