.darkTheme{
    color: black;
}
.lightTheme{
    color: white;
}


 
.appWrapper{
 min-height: 100vh;
    background: grey;
}  
a{
    color: white;
    text-decoration: none; 
}
.custom-dropdown{
    background: inherit;
    border:solid 0px;
    text-shadow: 0 0 10px black;
}
.custom-dropdown:hover{
    background: inherit;

}
.custom-dropdown:enabled{
    background: inherit;
}
